<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598220541799-6ncbp0oqv5t1amg0tg1md6857fmeb1e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598220541799-6ncbp0oqv5t1amg0tg1md6857fmeb1e7</string>
	<key>API_KEY</key>
	<string>AIzaSyAaJToVf4pPc5kXjfVNzjCFhOFDNatbyMc</string>
	<key>GCM_SENDER_ID</key>
	<string>598220541799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bariscanakkaya.AppcentNews</string>
	<key>PROJECT_ID</key>
	<string>appcentnews-c4e16</string>
	<key>STORAGE_BUCKET</key>
	<string>appcentnews-c4e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598220541799:ios:ba571b2318b34d93b829c2</string>
</dict>
</plist>